<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule images/(.*)$ http://localhost/wpdev/wp-plugins/wpel/WP-External-Links/wp-external-links/public/images/$1
RewriteRule js/(.*)$ http://localhost/wpdev/wp-plugins/wpel/WP-External-Links/wp-external-links/public/js/$1
RewriteRule css/(.*)$ http://localhost/wpdev/wp-plugins/wpel/WP-External-Links/wp-external-links/public/css/$1
</IfModule>
